@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Serviço Nacional de Aprendizagem Industrial - SENAI<br />
    Fulano<br />
    Sicrano<br />
</address>

<address>
    <strong>Contato:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
</address>