@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Perguntas e Resposta em Cores</h1>
    <p class="lead">Descrição</p>
    <p><a href="/Game" class="btn btn-success btn-lg">Iniciar ▶️</a></p>
</div>
